html {
  height: 100%;
  width: 100%;
  background-color: teal;
}

.dark-background {
  background-color: orangered;
   border: 5px dotted black;
  color: yellowgreen;
  padding: 5px;
  font-size: 70px;
}



h1,.job-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}

.background-2 {
  background-color: lavender;
  margin-left: 250px;
  margin-right: 250px;
  color: black;
  border: 7px solid yellowgreen;
}

h3, h4 {
  text-align: center;
  color: black;
}
ul{
  text-align: center;
  list-style-type: none;
}
p {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
}
.contact-info {
  margin-left: 250px;
  margin-right: 250px;
  border: 5px dotted black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

footer {
  text-align: left;
  background-color: orangered;
  color: yellowgreen;
  padding-top: 40px ;
  min-height: 100px;
}

a:link  {color: red;}
a:visited  {color: yellow;}
a:hover  {color: orange;}
a:active {color: darkorange;}
